<a href="https://colab.research.google.com/github/rakeshrathod2002/NNDL/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Import required libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

# **This data consists of 2 columns, Y is load at a particular hour in a day, where X is the load at same hour and day but in previous week.**

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/AI Data/NNDLAssign4_data.xlsx')
data.head()

            X           Y
0  5447.07072  5707.07856
1  4713.81120  5865.60852
2  5002.50096  6116.73120
3  5037.72984  6807.27960
4  5865.60852  8024.70240

# **Data normalization**

In [ ]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.222201  0.176691
1   0.000000  0.224970
2   0.087482  0.301448
3   0.098158  0.511749
4   0.349032  0.882507
..       ...       ...
67  0.956542  0.508426
68  0.910061  0.093235
69  0.721304  0.336767
70  0.506330  0.198528
71  0.280869  0.145360

[72 rows x 2 columns]

# **Data split to training and testing**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [ ]:
m = 1
c = -1
eta = 0.01
max_iters = 100
Gm_square = 0
Gc_square = 0
E = 0.0001

# **Adagrad + SGD Algorithm**

In [ ]:
m_deriv = 0
c_deriv = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-m*x-c)*x
    c_deriv = -(y-m*x-c)
    Gm_square = Gm_square + (m_deriv * m_deriv)
    Gc_square = Gc_square + (c_deriv * c_deriv)
    m = m - (eta/math.sqrt(Gm_square + E)) * m_deriv
    c = c - (eta/math.sqrt(Gc_square + E)) * c_deriv
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.261602642174348 -0.14625076165037668

# **Model prediction on training data**

In [ ]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [ ]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [ ]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.35858642658740475
Mean square error 0.12858422533272423
Mean absolute error 0.27803018434327453

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.37939450922110024
Mean square error 0.14394019362711952
Mean absolute error 0.3241676996790578

# **Deployment**

In [ ]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 6267
X =  6267
Y =  7906.317507744989