<a href="https://colab.research.google.com/github/rakeshrathod2002/NNDL/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Import required libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

# **This data consists of 2 columns, Y is load at a particular hour, where X is the load at its previous hour.**

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/AI Data/NNDLAssign3_data.xlsx')
data.head()

            X           Y
0  5551.82208  4983.17184
1  4888.39680  5072.95872
2  5196.25980  5641.29720
3  7153.17732  7849.80504
4  6329.97504  6292.87560

# **Data normalization**

In [ ]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.258810  0.088492
1   0.053919  0.115504
2   0.148999  0.286485
3   0.753370  0.950900
4   0.499133  0.482508
5   0.196418  0.161367
6   0.088533  0.026027
7   0.451906  0.447665
8   0.445311  0.458216
9   0.837088  0.817811
10  0.727133  0.549569
11  0.505344  0.244654
12  0.067158  0.026027
13  0.000000  0.000000
14  0.040439  0.265476
15  0.443770  0.483540
16  0.556326  0.475521
17  0.275852  0.374179
18  0.297034  0.296708
19  0.222896  0.265851
20  0.404391  0.427640
21  1.000000  1.000000
22  0.888841  0.721769
23  0.544579  0.348856
24  0.230599  0.123007
25  0.107837  0.117755
26  0.188716  0.385622
27  0.544579  0.585678
28  0.593588  0.506190
29  0.490997  0.528935
30  0.429424  0.327753
31  0.355719  0.348387
32  0.429424  0.606312
33  0.863663  0.994607
34  0.904102  0.369865
35  0.518920  0.338351

# **Data split to training and testing**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [ ]:
m = 1
c = -1
eta = 0.001
max_iters = 100
r = 0.1

# **NAG + SGD Algorithm**

In [ ]:
m_deriv = 0
c_deriv = 0
Vm = 0
Vc = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-(m+r*Vm)*x-c-r*Vc)*x
    c_deriv = -(y-(m+r*Vm)*x-c-r*Vc)
    Vm = r*Vm - eta*m_deriv
    Vc = r*Vc - eta*c_deriv
    m = m + Vm
    c = c + Vc
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.0820030539046093 -0.06546692324841612

# **Model prediction on training data**

In [ ]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [ ]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [ ]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.15919348527049346
Mean square error 0.025342565752566815
Mean absolute error 0.11759899435909393

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.1016100696351495
Mean square error 0.010324606251259931
Mean absolute error 0.07489074306140994

# **Deployment**

In [ ]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 7510
X =  7510
Y =  8125.777467900368